<br/>
<img src="/images/cloud_big.png"><br/>
<br/><br/>
<span><%=t(:desc1)%></span><br/>
<span><%=t(:desc2)%></span><br/>
<br/>
<span><%=t(:desc3)%></span><br/>
<br/>
<a href="/downloads/cloud700.apk"><%=t(:download_button)%></a>
<br/><br/><br/><br/><br/>
<%=render :partial => "shared/btn_lang"%>
<br/><br/>
<%=t(:goofy2_team)%>
